{%extends 'index.html'%}
{%block content%}
    <h4> Редагування лічильника "{{ last_selected.el_mtr.number }}" </h4>
    <form method="POST">
        {% csrf_token %}
        <p>
            Номер лічильника:
            <input type="text" name="number" value="{{ last_selected.el_mtr.number }}">
        </p>
        <p>
            Електрифікований об'єкт, на якому встановлено лічильник:
            <select name="el_object" class="selects">
                <option>
                    <span class="text_enter_el_obj">Оберіть електрифікований об'єкт!</span>
                </option>
            <option disabled> ----- </option>
                {% for eo in el_objs %}
                    <option value={{ eo.id }}> {{ eo.name }} </option>
                {% endfor %}
        </select>
        </p>
        <input type="submit" name="save"  value="Зберегти">
        <input type="submit" name="cancel" value="Скасувати">
    </form>


{%endblock%}