{%extends 'index.html'%}
{%block content%}
    <h4> Редагування електрифікованого об'єкту "{{ last_selected.el_obj.name }}" </h4>
    <form method="POST">
        {% csrf_token %}
        <p>
            Назва електрифікованого об'єкту:
            <input type="text" name="name" value="{{ last_selected.el_obj.name }}">
        </p>
        <p>
            Адреса електрифікованого об'єкту:
            <input type="text" name="address" value="{{ last_selected.el_obj.address }}">
        </p>
        <input type="submit" name="save"  value="Зберегти">
        <input type="submit" name="cancel" value="Скасувати">
    </form>


{%endblock%}