{%extends 'index.html'%}
{%block content%}
    <h4> Видалення лічильника номер: {{ last_selected.el_mtr.number }} </h4>
    <form method="POST">
        {% csrf_token %}
        <p>
            Увага! Буде видалено всі збережені дані, які пов'язані з вибраним лічильником!
        </p>
        <p>
            Для видалення лічильника введіть його номер та оберіть електрифікований об'єкт:
        </p>
        <p>
            <input type="text" name="number">
            <select name="el_object" class="selects">
                <option>
                    <span class="text_enter_el_obj">Оберіть електрифікований об'єкт!</span>
                </option>
            <option disabled> ----- </option>
                {% for eo in el_objs %}
                    <option value={{ eo.id }}> {{ eo.name }} </option>
                {% endfor %}
        </select>
        </p>

        <input type="submit" name="del"  value="Видалити">
        <input type="submit" name="cancel" value="Скасувати">
    </form>


{%endblock%}