{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Djelen</title>
</head>
    <body>
        <div class="header block">
            <a class="text_djelen" href="/">Djelen</a>

            <div class="header_user">
                {% if user.is_anonymous %}
                    Hello, Guest!
                    <form action="{% url 'log_in' %}" method="POST">
                        {% csrf_token %}
                        {{ login_form.as_p }}
                        <p><input type="submit" value="Вхід"></p>
                    </form>
                    <form action="{% url 'registration' %}" method="GET">
                        <input type="submit" name="but_register" value="Реєстрація">
                    </form>
                {% else %}
                    Hello, {{ user.first_name }} {{ user.last_name }}!
                    <form action="{% url 'log_out' %}" method="POST">
                        {% csrf_token %}
                        <p><input type="submit" value="Вихід"></p>
                    </form>

                    <p>Об'єкт:</p>
                    <form method="post">
                        {% csrf_token %}
                        <select name="select_el_obj">
                            {% if last_selected %}
                            <option value={{ last_selected.el_obj.id }} selected>
                                {{ last_selected.el_obj.name }}
                            </option>
                            {% endif %}
                            <option disabled> ----- </option>
                            {% for eo in el_objs %}
                            <option value={{ eo.id }}> {{ eo.name }} </option>
                            {% endfor %}
                        </select>
                        <input type="submit" name="but_select_el_obj" value="Ok">
                        <input type="submit" name="but_add_el_obj" value="...">
                    </form>

                    {% if el_mtrs %}
                        <p>Лічильник:</p>
                    <form method="post">
                        {% csrf_token %}
                        <select name="select_el_mtr">
                            <option value={{ last_selected.el_mtr.id }} selected>
                                {{ last_selected.el_mtr.number }}
                            </option>
                            <option disabled> ----- </option>
                            {% for em in el_mtrs %}
                            <option value={{ em.id }}> {{ em.number }} </option>
                            {% endfor %}
                        </select>
                        <input type="submit" name="but_select_el_mtr" value="Ok">
                        <input type="submit" name="but_add_el_mtr" value="...">
                    </form>
                        {% endif %}



                {% endif %}

                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="column1 block column">.column1 </div>

        <div class="column3 block column">.column3 </div>

        <div class="column2 block column">
            {%block content%}

            <h4>{{ texts.сentral_title }}</h4>
            <h5>{{ texts.header_of_block_tariffs }}</h5>



            {% endblock %}
        </div>

        <div class="footer block">.footer</div>
    </body>
</html>