.header {
    float: left;
    width: 97%;
    margin: 9px;
}

.header_left {
    float: left;
    color: blue;
    font-size: 55px;
    text-align: center;
    width: 70%;
}

h4 {
    text-align: center;
}

h3 {
    width: 70%;
    margin: 10px;
}

.text_enter_el_obj, .text_enter_el_mtr, .text_authenticate{
    color: red;
}

.text_el_obj_entered, .text_el_mtr_entered {
    color: blue;
}

.buts {
    float: left;
}

.img_cart {
    float: right;
    width: 50px;
    }

.header_right {
    float: right;
    width: 20%;
    height: 90%;
}

.header_user, .header_objs, .header_mtrs, .header_msgs {
    float: left;
    width: 90%;
    margin: 3px 0;
}

body {
    background-color: white;
}

.block {
    margin-bottom: 5px;
    padding: 10px;
    background: rgba(255, 234, 171, 0.5);
    background: #dff0d8;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #999999;
    border: 2px dashed #cccccc;
}

.column {
    background: #dff0d8;
    min-height: 1000px;
}

.column1 {
    float: left;
    width: 10%;
    margin: 9px;
    }

.column2 {
    float: left;
    width: 70%;
    margin: 9px;
    }

.column3 {
    float: right;
    width: 10%;
    margin: 9px;
    }

.footer {
    clear: both;
    width: 97%;
    margin: 9px;
}

.goods_preview {
    float: left;
    padding: 20px;
    width: 28%;
    /*background: #3a78a1;*/
    }

.preview {
    padding: 5px;
}

.img_preview {
    width: 150px;
}

.img_detail {
    width: 100%;
}

.description {
    max-height: 300px;
}

.order_number {
    color: blue
}